.selectoption{
    margin-top: 20px;
    width: 200px;
    height: 40px;
    outline: none;
    border:none;
    border-bottom: 2px solid white;
    font-size: 20px;
    background-color: #6053C9;
    color: white;
}

.funkyradio-default{
    width: 95%;
    height: 70px;
    background-color:#7B6FD1;
    margin:20px 10px;
    border-radius: 10px;
    flex:1;
    display: flex;
    align-items: center;
}
.radi{
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}
.month__item{
  display: flex;
  flex-direction: column;
}
.month__item2{
    font-size: 12px;
    color: white;
}
.month__item1{
    color: white;
    font-size: 18px;
}
.offer{
    color: #FFB60D;
}